<!-- component Navbar -->
<nav class="bg-white dark:bg-gray-900 w-full">
  <div
    class="max-w-screen-xl flex items-center justify-between mx-auto py-4 px-0"
  >
    <div class="flex items-center space-x-3 rtl:space-x-reverse flex-shrink-0">
      <a routerLink="/">
        <img src="logos/rose-logo.png" alt="" class="h-8 img" />
      </a>
    </div>

    <div
      #navMenu
      class="hidden md:flex items-center justify-center flex-1"
      id="navbar-default"
    >
      <ul
        class="flex flex-col p-4 text-center md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-[#feedf7] md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            class="block py-2 px-3 text-[var(--my-secondary-color)] rounded hover:bg-[var(--light-primary-background-color)] md:hover:bg-transparent md:hover:text-[var(--primary-color)] md:p-0 md:dark:hover:text-[var(--primary-color)] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/category"
            routerLinkActive="active"
            class="block py-2 px-3 text-[var(--my-secondary-color)] rounded hover:bg-[var(--light-primary-background-color)] md:hover:bg-transparent md:hover:text-[var(--primary-color)] md:p-0 md:dark:hover:text-[var(--primary-color)] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >All category</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            class="block py-2 px-3 text-[var(--my-secondary-color)] rounded hover:bg-[var(--light-primary-background-color)] md:hover:bg-transparent md:hover:text-[var(--primary-color)] md:p-0 md:dark:hover:text-[var(--primary-color)] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="active"
            class="block py-2 px-3 text-[var(--my-secondary-color)] rounded hover:bg-[var(--light-primary-background-color)] md:hover:bg-transparent md:hover:text-[var(--primary-color)] md:p-0 md:dark:hover:text-[var(--primary-color)] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <div class="flex items-center gap-4">
      <div class="flex items-center space-x-4 ml-auto">
        <!-- Search Icon -->
        <i><img src="/icons/search-icon.svg" alt="" class="w-5 h-5" /> </i>

        <!-- Favorite Icon -->
        <a routerLink="/favorite" *ngIf="isLoggedIn" class="relative icon">
          <img src="/icons/heart-icon.svg" alt="" class="icon w-5 h-5" />
          <span
            class="count-fav absolute top-[-2px] right-0 transform translate-x-1/2 -translate-y-1/2 bg-[var(--primary-color)] text-white text-xs rounded-full px-1.5 py-0.5"
            >2</span
          >
        </a>

        <!-- Cart Icon -->
        <a routerLink="/cart" *ngIf="isLoggedIn" class="relative icon">
          <span
            class="count-cart absolute transform translate-x-1/2 -translate-y-1/2 bg-[var(--primary-color)] text-white text-xs rounded-full px-1.5 py-0.5"
            >5</span
          >
          <img src="/icons/shopping-bag-icon.svg" alt="" class="icon w-5 h-5" />
        </a>
      </div>
      <!-- Modal toggle -->
      <button
        *ngIf="!isLoggedIn"
        (click)="openModal('login')"
        data-modal-target="authentication-modal"
        data-modal-toggle="authentication-modal"
        class="block button-model text-white bg-[var(--primary-color)] font-medium rounded-lg text-sm px-5 py-2 text-center"
        type="button"
      >
        Login
      </button>
      <app-auth
      [ismodalOpen]="showModal"
      (close)="showModal=false"
      ></app-auth>
      <app-mobile-sidebar></app-mobile-sidebar>
    </div>
  </div>
</nav>
