<div class="flex justify-between flex-col md:flex-row pt-3 bg-white items-center">
    <div>
      <img src="logos/rose-logo.png" alt="" />
    </div>
    <div class="items-center">
      <ul class="flex gap-4 font-medium flex-col md:flex-row">
        <li><a routerLink="/home" routerLinkActive="router-link-active">Home</a></li>
        <li><a routerLink="/category" routerLinkActive="router-link-active">All category</a></li>
        <li><a routerLink="/about" routerLinkActive="router-link-active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="router-link-active">Contact</a></li>
      </ul>
    </div>
    <div class="items-center">
      <ul class="flex gap-4 flex-col md:flex-row ">
        <li><img src="/icons/search-icon.svg" alt="" /></li>
        <li><img src="/icons/heart-icon.svg" alt="" /></li>
        <li><img src="/icons/shopping-bag-icon.svg" alt="" /></li>
      </ul>
    </div>
</div>
