<section class="popular-items px-80 ">
  <div class="popular-items__header">
    <h2 class="popular-items__header">Popular Items</h2>
    <div class="top-categories">
        <ul>

            @for (category of topCategories(); track $index) {
                <li>{{category.name}}</li>
            }
        </ul>
    </div>
  </div>
  <div class="popular-items__products grid grid-cols-4 sm:grid-cols-4 ">
    @for (product of products(); track $index) {
    <app-product-card class="flex justify-center" [product]="product"></app-product-card>
    }
  </div>
</section>
