<section class="popular-items px-80">
  <div class="popular-items__header flex justify-between ">
    <h2 class="popular-items__header">Popular Items</h2>
    <div class="top-categories flex">
      <ul class="flex">
        @for (category of topCategories(); track $index) {
        <li
          class="top-categories__item"
          (click)="getCategoryItems(category._id ?? '')"
        >
          {{ category.name }}
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="popular-items__products grid grid-cols-4 sm:grid-cols-4">
    @for (product of filteredProducts(); track $index) {
    <app-product-card
      class="flex justify-center"
      [product]="product"
    ></app-product-card>
    }
  </div>
</section>
