<div class="terms-container">
    <h1>Terms And Conditions Of Use</h1>

    <div class="rule">
      <h2>Rule 1</h2>
      <p>Ipsam Optio Qui Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio. Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expedita. Ipsam Optio Qui Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio. Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expedita.</p>
    </div>

    <div class="rule">
      <h2>Rule 2</h2>
      <p>Ipsam Optio Qui Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio. Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expedita. Ipsam Optio Qui Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio. Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expedita.</p>
    </div>

    <div class="rule">
      <h2>Rule 3</h2>
      <p>Ipsam Optio Qui Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio. Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expedita. Ipsam Optio Qui Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio. Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expedita.</p>
    </div>
  </div>