.product-card {
  background-color: pink;
  height: 23.175rem;
  &__content{
 
  }
  &__image{
    height: 17rem;
  }
  &__details{
    height: fit-content;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    
  }
  &__actions{
    &__add-to-cart{
    }
  }

}
