<section class="px-4 md:px-80 mt-20">
  <div class="flex flex-col md:flex-row ">
    <!-- Left Column -->
    <div class="w-full flex gap-10 ">
      <div class="w-1/2 flex justify-end ">
        <img class="about-img1" src="/images/about-img1.png" alt="" />
      </div>
      <div class="w-1/2 mt-8  ">
        <img class="about-img2 " src="/images/about-img2.png" alt="" />
        <img class="about-img3 mt-4" src="/images/about-img3.png" alt="" />
      </div>
    </div>

    <!-- Right Column -->
    <div class="w-full p-4">
      <h2 class="text-xl about-title font-medium uppercase text-[#F82BA9]">
        About Us
      </h2>
      <p class="font-bold mt-4 text-4xl leading-tight">
        We Provide Best And Quality
        <span class="text-[#F82BA9]">Gifts Box </span>Product For You
      </p>
      <p class="text-[#757F95] my-4 leading-snug font-light">
        Recusandae tempora aut laborum molestias veniam. A commodi sequi
        accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta
        necessitatibus ut ad.
      </p>

      <button
        class="btn about-btn text-xl font-semibold p-4 px-8 rounded-lg my-3 text-white bg-[#F82BA9]"
      >
        Discover More <i class="fa-solid ms-1 fa-arrow-right"></i>
      </button>

      <div class="about-footer-content flex flex-col md:flex-row mt-4">
        <div class="w-full md:w-1/2">
          <div class="flex align-center mb-1">
            <div
              class="circle rounded-full flex justify-center align-center bg-[#8C52FF] my-1 w-8 h-8 p-2"
            >
              <i class="fa-solid text-white fa-check"></i>
            </div>
            <p class="ms-2 my-1">Streamlined Shipping Experience</p>
          </div>
          <div class="flex align-center">
            <div
              class="circle rounded-full flex justify-center align-center bg-[#8C52FF] w-8 h-8 p-2"
            >
              <i class="fa-solid text-white fa-check"></i>
            </div>
            <p class="ms-2">Competitive Price & Easy To Shop</p>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="flex align-center mb-1">
            <div
              class="circle rounded-full flex justify-center align-center bg-[#8C52FF] my-1 w-8 h-8 p-2"
            >
              <i class="fa-solid text-white fa-check"></i>
            </div>
            <p class="ms-2 my-1">Streamlined Shipping Experience</p>
          </div>
          <div class="flex align-center">
            <div
              class="circle rounded-full flex justify-center align-center bg-[#8C52FF] w-8 h-8 p-2"
            >
              <i class="fa-solid text-white fa-check"></i>
            </div>
            <p class="ms-2">Competitive Price & Easy To Shop</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
