.under-line-text{
    position: relative;
}

.under-line-text::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F82BA9;
}
.trusted-logo{
    width: 145px;
}