<section class="trusted-by mt-10 px-80">
    <div class="py-9 px-4 text-center bg-[#FEEDF7] rounded-3xl tracking-wide">
      <div>
        <h2 class="capitalize font-bold text-3xl">
          <span class="under-line-text">Trusted by</span> over
          <span class="text-[#F82BA9]">4.5k+</span> companies
        </h2>
        <div class="logos flex w-full mt-8">
          <div class="w-1/6 flex justify-center">
            <img class="trusted-logo" src="/images/logo6.png" alt="" />
          </div>
          <div class="w-1/6 flex justify-center">
            <img class="trusted-logo" src="/images/logo3.png" alt="" />
          </div>
          <div class="w-1/6 flex justify-center">
            <img class="trusted-logo" src="/images/logo2.png" alt="" />
          </div>
          <div class="w-1/6 flex justify-center">
            <img class="trusted-logo" src="/images/logo5.png" alt="" />
          </div>
  
          <div class="w-1/6 flex justify-center">
            <img class="trusted-logo" src="/images/logo4.png" alt="" />
          </div>
  
          <div class="w-1/6 flex justify-center">
            <img class="trusted-logo" src="/images/logo1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  
  