<div class="w-100 footer">
    <div class="w-4/5 mx-auto font-medium text-base subpixel-antialiased py-8">
        <ul class="flex w-100 gap-6 font-medium  flex-col  md:flex-row justify-between px-5">
            <li ><a routerLink="" routerLinkActive="router-link-active">About Us</a></li>
            <li><a routerLink="" routerLinkActive="router-link-active">Store location</a></li>
            <li><a routerLink="" routerLinkActive="router-link-active">Contact</a></li>
            <li><a routerLink="" routerLinkActive="router-link-active">Delivery</a></li>
            <li><a routerLink="" routerLinkActive="router-link-active">Policy</a></li>
            <li><a routerLink="" routerLinkActive="router-link-active">FAQS</a></li>
          </ul>
    </div>
    <div class="w-4/5 text-2xl mx-auto  flex justify-center font-medium text-base subpixel-antialiased  py-8">
<h2>Get <span class="discount-number">20%</span> Off Discount Coupon</h2>
    </div>
    <div class="w-4/5 flex justify-center subscribe-container mx-auto">
        <input type="text" class="subscribeInput w-80 px-4 py-2">
        <button class="subscribeButton w-32 px-4 py-2">Subscribe</button>
      </div>
      
      

</div>