<!-- best-seller.component.html -->
<div class="container mx-auto max-w-[90%]  py-12 flex flex-col md:flex-row gap-8 items-center">
  <!-- Text Section -->
  <div class="text-section w-full md:w-1/2 lg:w-1/3 space-y-4 md:space-y-6">
      <h3 class="text-2xl md:text-3xl lg:text-4xl">PREMIUM GIFTS</h3>
      <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold text-gray-600">
          Best <span class="text-[#F82BA9]">Seller</span><br>
          <span class="text-[#F82BA9]">Gifts</span> And Products
      </h2>
      <p class="text-gray-500 text-sm md:text-base leading-relaxed">
          Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium ullam cupiditate. 
          Neque quidem qui et autem dolor dicta necessitatibus ut ad.
      </p>
      <button class="bg-[#F82BA9] text-white px-4 py-2 md:px-8 md:py-3 rounded-full 
                   hover:bg-[#D11A85] transition-all duration-300
                   font-medium md:font-semibold text-sm md:text-lg shadow-lg">
          Explore More
      </button>
  </div>

  <!-- Slider Section -->
  <div class="slider-section w-full md:w-1/2 lg:w-2/3 max-sm:w-full  md:pr-14">
      <app-slider></app-slider>
  </div>
</div>