<div class="delivery-container">
    <h1>Delivery</h1>
    <h2>Shipments and Returns</h2>
    <h3>Your Pack Shipment</h3>
  
    <p>
      Ipsam Optio Quia Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio.
      Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expeditia. Ipsam
      Optio Quia Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio.
      Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expeditia.
    </p>
  <br>
    <p>
      Ipsam Optio Quia Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio.
      Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expeditia. Ipsam
      Optio Quia Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio.
      Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expeditia.
    </p>
    <br>
    <p>
      Ipsam Optio Quia Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio.
      Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expeditia. Ipsam
      Optio Quia Ut Sit Minima Eveniet Voluptatem Molestiae Distinctio.
      Magnam Nulla Qui Doloremque Voluptatem Eum Dolorem Cum Expeditia.
    </p>
  </div>
  