@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  font-family: "Inter", serif;
  color: var(--my-secondary-color);
  background: #fff;


}
body {
  margin: 0;
  font-family: "Inter", serif;

}

/***************** VARIABLES **************** */
:root {
  /********* Colors ******** */
  --primary-color: #f82ba9; // brand color
  --primary-color-rgb: 248, 43, 169; // opacity adapt
  --my-secondary-color: #160e4b;
  --tertiary-color: #8c52ff;
  --quaternary-color: #39d8a3;
  --light-primary-background-color: #feedf7;

  --price-color: #f05454; // also color of out of stock
  --out-of-stock-color: #f05454;
  --hot-product-color: #00bfff;

  --light-text-color: #757f95;
  --rating-star-color: #fba707;

  --card-hover-opacity: 0.7;

  /********* Font sizes ******** */
  --text-80: 3.81rem
  --text-64: 3.048rem
  --text-51: 2.429rem

  --text-41: 1.952rem
  --text-33: 1.571rem
  --text-26: 1.238rem
  
  --text-21: 1rem
  --text-17: 0.81rem
  --text-13: 0.619rem
}

/***************** FONT CLASSES **************** */
.inter-100 {
  font-weight: 100;
}

.inter-200 {
  font-weight: 200;
}

.inter-300 {
  font-weight: 300;
}

.inter-400 {
  font-weight: 400;
}

.inter-500 {
  font-weight: 500;
}

.inter-600 {
  font-weight: 600;
}

.inter-700 {
  font-weight: 700;
}

.inter-800 {
  font-weight: 800;
}

.inter-900 {
  font-weight: 900;
}
